/*------------------------------------------------------------------
[3. Header ]
------------------------------------------------------------------*/

.heade-xs {
    color: #9a9a9a;
    font-weight: 400;
    font-family: 'Graviola-Regular';
    font-size: 15px;
}

p {
    margin: 0 0 25px 0;
}

.btn-black {
    width: auto;
    display: inline-block;
    border: none;
    box-shadow: none;
    background: url('../images/btn1-bg.jpg') repeat-y 0 0;
    background-size: 100% auto;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    min-width: 195px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    text-transform: uppercase;
}

.btn-black:hover {
    color: #ffffff;
    background: url('../images/btn2-bg.jpg') repeat-y 0 0;
    background-size: 100% auto;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.btn-black:focus {
    color: #ffffff;
}

.btn-main {
    width: auto;
    display: inline-block;
    border: none;
    box-shadow: none;
    background: url('../images/btn2-bg.jpg') repeat-y 0 0;
    background-size: 100% auto;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    min-width: 195px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    text-transform: uppercase;
}

.btn-main:hover {
    color: #ffffff;
    background: url('../images/btn1-bg.jpg') repeat-y 0 0;
    background-size: 100% auto;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.btn-main:focus {
    color: #ffffff;
}

.btn-big {
    font-size: 26px;
    height: 70px;
    line-height: 70px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}

.btn-common {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    text-align: center;
    width: auto;
    display: inline-block;
    border: none;
    box-shadow: none;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-common:focus {
    color: #ffffff;
}

.btn-medium {
    height: 50px;
    line-height: 48px;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    width: auto;
    padding: 0px 35px;
    min-width: 170px;
    border: 2px solid #c7a17a;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    box-shadow: none;
    background: transparent;
    color: $primary-color;
    font-size: 16px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    font-weight: 700;
}

.btn-dark-coffee {
    background: #372727;
    color: #ffffff;
    border-color: #372727;
}

.btn-skin {
    background: #c7a17a;
    border-color: #c7a17a;
    color: #ffffff;
}

.btn-skin:hover {
    background: $primary-color;
    color: #ffffff;
    border-color: $primary-color;
}

.btn-primary-gold {
    background: $primary-color;
    color: #ffffff;
    border-color: $primary-color;
}

.btn-primary-gold:hover {
    background: #c7a17a;
    border-color: #c7a17a;
    color: #ffffff;
}

.btn-shadow {
    -webkit-box-shadow: 0 0 20px 0 #dddcd9;
    -moz-box-shadow: 0 0 20px 0 #dddcd9;
    -ms-box-shadow: 0 0 20px 0 #dddcd9;
    -o-box-shadow: 0 0 20px 0 #dddcd9;
    box-shadow: 0 0 20px 0 #dddcd9;
}

.radius-none {
    border-radius: 0px !important;
}

.button-default {
    display: inline-block;
    width: auto;
    padding: 0px 35px;
    min-width: 170px;
    height: 42px;
    border: 2px solid #f4f2ed;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 39px;
    box-shadow: none;
    background: transparent;
    color: #959393;
    font-size: 16px;
    font-family: 'QuicksandBook-Regular';
    font-weight: normal;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.button-default:hover {
    background: #20202f none repeat scroll 0 0;
    color: #ffffff;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"] {
    height: 50px;
    width: 100%;
    border: 2px solid #e5e5ee;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    border-radius: 80px;
    padding: 0 30px;
    outline: none;
    color: #636375;
}

.build-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.build-title h6 {
    color: #9a9a9a;
    font-weight: 400;
    font-family: 'Graviola-Regular';
    font-size: 15px;
}

.icon-default {
    position: absolute;
    left: 50%;
    top: -59px;
    width: 254px;
    background: url('../images/pattern-white.png') no-repeat center center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 59px;
    z-index: 30;
    text-align: center;
    padding: 20px 0 0 0;
}

.btn-primary-gold {
    background: $primary-color;
    color: #ffffff;
    border-color: $primary-color;
}

.btn-large {
    height: 55px;
    line-height: 55px;
    padding: 0 50px;
}

.icon-black {
    background: url('../images/pattern-black.png') no-repeat center center;
}

.icon-skeen {
    background: url('../images/pattern-skeen.png') no-repeat center center;
}

.icon-gold {
    background: url('../images/pattern-gold.png') no-repeat center center;
}

.icon-dark {
    background: url('../images/pattern-dark.png') no-repeat center center;
}

.banner-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

body main .txt-default {
    color: $primary-color;
}

.invert .build-title h2 {
    color: $primary-color;
}

.invert .build-title h6 {
    color: #e2dadd;
}

.invert-black h1,
.invert-black h2,
.invert-black h3,
.invert-black h4,
.invert-black h5,
.invert-black h6,
.invert-black {
    color: #e2dadd;
}

.bg-prim {
    background-color: $primary-color;
}

body main .bg-skeen {
    background-color: #f4f2ed;
}



/* Reset Classes For Whole Site */

.pad-top-remove {
    padding-top: 0px !important;
}

.pad-bottom-remove {
    padding-bottom: 0px !important;
}

.v-pad-remove {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.v-pad-small {
    padding: 50px 0;
}

.top-pad-xsmall {
    padding-top: 40px;
}

body main .home-small-pad {
    padding-bottom: 100px;
}

.text-primary {
    color: $primary-color;
}

.text-white {
    color: #ffffff;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.Banner-Bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.input-fields {
    border: 2px solid #f4f2ed;
    width: 100%;
    height: 50px;
    padding: 0 25px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    background: transparent;
    margin-bottom: 20px;
}

label {
    font-weight: normal;
    color: #20202f;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"] {
    height: 50px;
    width: 100%;
    border: 2px solid #e5e5ee;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    border-radius: 80px;
    padding: 0 30px;
    margin-bottom: 29px;
    outline: none;
}

textarea {
    height: 175px;
    padding: 25px 30px;
    width: 100%;
    border: 2px solid #e5e5ee;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    margin-bottom: 29px;
    resize: none;
    outline: none;
}



/* Class support For verticall and Horizontal Spacing */

.ex-margin-bottom {
    margin-bottom: 70px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-right-40 {
    margin-right: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-left-60 {
    margin-left: 60px;
}

.margin-right-60 {
    margin-right: 60px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-bottom-70 {
    margin-bottom: 70px;
}

.margin-left-70 {
    margin-left: 70px;
}

.margin-right-70 {
    margin-right: 70px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.margin-left-80 {
    margin-left: 80px;
}

.margin-right-80 {
    margin-right: 80px;
}



/* Back To Top Arrow */

.top-arrow {
    position: fixed;
    bottom: 50px;
    background: url('../images/arrow-top.png') no-repeat 0 0;
    width: 40px;
    height: 40px;
    right: 30px;
    display: none;
    z-index: 99;
    background-size: 40px 40px;
}



/* Loader */

#pre-loader {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 9999;
}

#pre-loader .loader-holder:before {
    content: "";
    display: inline-block;
    height: 100%;
    margin: 0 0 0 -5px;
    overflow: hidden;
    vertical-align: middle;
    width: 1px;
}

#pre-loader .loader-holder {
    height: 400px;
    left: 50%;
    margin: -200px 0 0 -200px;
    position: absolute;
    top: 50%;
    white-space: nowrap;
    width: 400px;
}

#pre-loader .loader-holder .frame {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

#pre-loader img {
    display: inline-block;
    margin: 0 0 45px;
}

.alert-dismissible label {
    display: block;
}

.header-part {
    float: left;
    width: 100%;
    position: relative;
    z-index: 999;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.header-part .container {
    position: relative;
}

.header-top {
    float: left;
    width: 100%;
    position: relative;
    background: $primary-color;
    padding: 15px 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.header-top-inner {
    float: left;
    width: 100%;
    position: relative;
}

.header-top-left {
    float: left;
    width: auto;
    font-family: 'Graviola-Regular';
}

.header-top-left a {
    color: #ffffff;
    display: inline-block;
    width: auto;
    margin-right: 15px;
    vertical-align: bottom;
}

.header-top-left a:last-child {
    margin-right: 0px;
}

.top-cell {
    font-size: 18px;
}

.top-cell span {
    padding-left: 10px;
    vertical-align: bottom;
}

.top-email {
    font-size: 14px;
}

.header-top-right {
    float: right;
    width: auto;
    vertical-align: middle;
}

.social-top {
    display: inline-block;
    width: auto;
}

.social-top ul,
.social-top li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.social-top li {
    display: inline-block;
    width: auto;
    margin-right: 18px;
    vertical-align: middle;
}

.social-top li a {
    display: block;
    font-size: 14px;
}

.header-top-right .social-top li a {
    color: #ffffff;
}

.language-menu {
    display: inline-block;
    width: auto;
    font-family: 'Graviola-Regular';
    font-size: 13px;
    background: #383848;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    position: relative;
}

.language-menu a {
    color: #ffffff;
    display: block;
}

.language-menu ul,
.language-menu li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.language-menu ul {
    right: 0;
    position: absolute;
    top: 64px;
    width: 100%;
    background: $primary-color;
    display: none;
    padding: 20px 18px;
    min-width: 135px;
    z-index: 32;
    font-size: 13px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
}

.language-menu>ul:after {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $primary-color;
    right: 44px;
    position: absolute;
    top: -8px;
    content: "";
}

.language-menu li {
    display: block;
    vertical-align: middle;
}

.language-menu li .fa {
    margin-right: 12px;
    font-size: 15px;
}

.language-menu .current-lang {
    padding: 4px 25px;
}

.language-menu .fa-caret-down {
    padding-left: 17px;
    color: $primary-color;
    font-size: 16px;
}

.header-bottom {
    float: left;
    width: 100%;
    background: #383848;
    position: relative;
    border-bottom: 6px solid #1b1b29;
}

.menu-main {
    float: left;
    width: 40%;
    font-family: 'Graviola-Regular';
}

.menu-main ul,
.menu-main li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu-main li {
    float: left;
    width: auto;
    font-size: 15px;
    margin-right: 25px;
    position: relative;
}

.menu-main li:last-child {
    margin-right: 0px;
}

.menu-main li a {
    display: block;
    position: relative;
    padding: 15px 0 15px 15px;
    color: #ffffff;
}

.menu-main>ul>li>a:before {
    content: "•";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: $primary-color;
    left: 0px;
}



/* Just Conform */

.drop-nav-arrow {
    display: none;
}

.menu-main li.mega-menu {
    position: static;
}

.mega-title {
    color: #20202f;
    font-size: 18px;
    font-family: 'GraviolaSoft-Medium';
    display: block;
    margin-bottom: 25px;
}

.mega-position {
    float: right;
    margin-right: -40px;
    margin-bottom: -40px;
    position: relative;
    bottom: -8px;
    margin-top: -100px;
}

.mega-preview {
    position: relative;
    z-index: 1;
}

.mega-position img {
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
}



/*.menu-main ul > li.mega-menu .drop-nav:before{
    position: absolute;
    border-bottom: 12px dashed #ffffff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    top: -12px;
    left: 60px;
    content: "";
    display: inline-block;
}*/

.menu-main ul>li.mega-menu:hover>a:before {
    position: absolute;
    border-bottom: 12px dashed #ffffff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    top: 83px;
    left: 50%;
    content: "";
    display: inline-block;
    margin-left: -6px;
}

.menu-main li.mega-menu .drop-nav {
    min-width: 200px;
    background: #ffffff;
    padding: 40px;
    width: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100%;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    color: #9e9eab;
    z-index: 99;
    display: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(147, 109, 29, 0.3);
    -moz-box-shadow: 0px 3px 5px 0px rgba(147, 109, 29, 0.3);
    -ms--webkit-box-shadow: 0px 3px 5px 0px rgba(147, 109, 29, 0.3);
    -o--webkit-box-shadow: 0px 3px 5px 0px rgba(147, 109, 29, 0.3);
    box-shadow: 0px 3px 5px 0px rgba(147, 109, 29, 0.3);
    margin-top: 32px;
}

.menu-main ul>li:hover>.drop-nav {
    display: block;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(147, 109, 29, 0.3);
    -moz-box-shadow: 0px 3px 5px 0px rgba(147, 109, 29, 0.3);
    -ms--webkit-box-shadow: 0px 3px 5px 0px rgba(147, 109, 29, 0.3);
    -o--webkit-box-shadow: 0px 3px 5px 0px rgba(147, 109, 29, 0.3);
    box-shadow: 0px 3px 5px 0px rgba(147, 109, 29, 0.3);
}

.header-near .menu-main li.mega-menu .drop-nav {
    margin-top: 18px;
}

.header-near .menu-main li.has-child .drop-nav {
    margin-top: 18px;
}

.header-near .search-box {
    top: 62px;
}

.header-near .cart-wrap {
    padding-top: 18px;
}

.header-near .menu-main ul>li.mega-menu:hover>a:before {
    top: 69px;
}

.header-near .menu-main ul>li.has-child:hover>a:after {
    top: 62px;
}

.menu-main li.mega-menu .drop-nav:after {
    content: "";
    height: 50px;
    left: 0;
    position: absolute;
    top: -34px;
    width: 100%;
}

.menu-main li.mega-menu .drop-nav li a {
    padding-bottom: 0px;
    padding-left: 24px;
    margin-bottom: 12px;
    color: #9e9eab;
}

.menu-main li .drop-nav li a {
    color: #ffffff;
}

.menu-main li.mega-menu .drop-nav li {
    padding-left: 0px;
}

.menu-main li.mega-menu .drop-nav li a {
    padding-top: 0px;
}

.menu-main li.mega-menu .drop-nav li a:before {
    content: "\f105";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0px;
}

.drop-mega-part {
    font-size: 15px;
    font-family: 'Graviola-Regular';
    font-weight: normal;
}

.menu-main li .drop-nav li {
    margin: 0px;
    width: auto;
    display: block;
    float: none;
    padding-left: 28px;
}

.drop-mega-part {
    display: inline-block;
    width: 100%;
}

.menu-main li.has-child .drop-nav li a:before {
    content: "\f105";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0px;
}

.drop-has-child>a:after {
    content: "\f101";
    font-family: 'FontAwesome';
    position: absolute;
    right: 12px;
}

.menu-main li.has-child .drop-nav {
    min-width: 200px;
    position: absolute;
    left: 0px;
    top: 100%;
    color: #372727;
    background: $primary-color;
    z-index: 99;
    padding: 25px 0px 25px 0px;
    font-size: 15px;
    font-family: 'Graviola-Regular';
    font-weight: normal;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    display: none;
    margin-top: 34px;
}

.menu-main li.has-child .drop-nav:after {
    content: "";
    height: 50px;
    left: 0;
    position: absolute;
    top: -34px;
    width: 100%;
}

.menu-main li.has-child .drop-nav .drop-nav {
    top: -25px;
    left: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(147, 109, 29, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(147, 109, 29, 0.3);
    -ms--webkit-box-shadow: 0px 0px 5px 0px rgba(147, 109, 29, 0.3);
    -o--webkit-box-shadow: 0px 0px 5px 0px rgba(147, 109, 29, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(147, 109, 29, 0.3);
}

.menu-main li.has-child .drop-nav li a {
    padding-bottom: 10px;
    padding-left: 24px;
    padding-top: 0px;
}



/*.menu-main ul > li.has-child > ul.drop-nav:before{
    position: absolute;
    border-bottom: 12px dashed $primary-color;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    top: -12px;
    left: 35px;
    content: "";
    display: inline-block;
}*/

.menu-main ul>li.has-child:hover>a:after {
    position: absolute;
    border-bottom: 12px dashed $primary-color;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    top: 78px;
    left: 50%;
    content: "";
    display: inline-block;
    margin-left: -6px;
}

.menu-icon {
    float: right;
    width: auto;
    display: none;
}

.menu-icon a {
    display: inline-block;
    height: 24px;
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    z-index: 9999;
}

.menu-icon a span {
    background: #ffffff none repeat scroll 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    float: left;
    height: 3px;
    margin: 0 0 5px;
    position: relative;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    width: 100%;
}

.menu-icon a span:after {
    background: #959393 none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}

.menu-icon a span.bar-1:after {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.menu-icon a span.bar-2:after {
    -webkit-transition: all 0.5s ease 0.15s;
    -moz-transition: all 0.5s ease 0.15s;
    -ms-transition: all 0.5s ease 0.15s;
    -o-transition: all 0.5s ease 0.15s;
    transition: all 0.5s ease 0.15s;
}

.menu-icon a span.bar-3:after {
    -webkit-transition: all 0.5s ease 0.25s;
    -moz-transition: all 0.5s ease 0.25s;
    -ms-transition: all 0.5s ease 0.25s;
    -o-transition: all 0.5s ease 0.25s;
    transition: all 0.5s ease 0.25s;
}

.menu-icon a:hover span:after {
    width: 100%;
}

.menu-icon a.open span:after {
    width: 100%;
    background: #ffffff;
}

.menu-icon a.open .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 4px);
    -moz-transform: rotate(-45deg) translate(-7px, 4px);
    -ms-transform: rotate(-45deg) translate(-7px, 4px);
    -o-transform: rotate(-45deg) translate(-7px, 4px);
    transform: rotate(-45deg) translate(-7px, 4px);
}

.menu-icon a.open .bar-2 {
    opacity: 0;
}

.menu-icon a.open .bar-3 {
    -webkit-transform: rotate(45deg) translate(-7px, -4px);
    -moz-transform: rotate(45deg) translate(-7px, -4px);
    -ms-transform: rotate(45deg) translate(-7px, -4px);
    -o-transform: rotate(45deg) translate(-7px, -4px);
    transform: rotate(45deg) translate(-7px, -4px);
}



/*Just Conform*/

.logo {
    float: left;
    width: 20%;
    text-align: center;
}

.logo>a {
    left: 50%;
    position: absolute;
    top: -58px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 138px;
    z-index: 30;
}

.header-info {
    float: right;
    width: 40%;
    position: relative;
    padding: 15px 0 13px 0;
}

.header-info-inner {
    float: right;
    width: auto;
}

.header-collect {
    display: inline-block;
    width: auto;
    margin-right: 32px;
    font-size: 15px;
    font-family: 'Graviola-Regular';
    vertical-align: middle;
}

.header-collect a {
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
}

.header-collect img {
    margin-right: 15px;
}

.search-part {
    display: inline-block;
    width: auto;
    margin-left: 8px;
    vertical-align: middle;
}

.search-part>a {
    background: url('../images/icon-zoom.png') no-repeat right 0;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: bottom;
}

.search-part.active>a {
    background: url('../images/close.png') no-repeat right 0;
}

.search-box {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 100%;
    background: $primary-color;
    height: 50px;
    color: #ffffff;
    font-family: 'Graviola-Regular';
    font-size: 14px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    display: none;
    z-index: 30;
}

.search-box input[type="text"] {
    width: 100%;
    height: 50px;
    background: $primary-color;
    color: #ffffff;
    font-family: 'Graviola-Regular';
    font-size: 14px;
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    padding: 0 64px 0 34px;
}

.search-box ::-webkit-input-placeholder {
    color: #ffffff !important;
}

.search-box :-moz-placeholder {
    color: #ffffff !important;
}

.search-box ::-moz-placeholder {
    color: #ffffff !important;
}

.search-box :-ms-input-placeholder {
    color: #ffffff !important;
}

.search-box input[type="submit"] {
    background: none;
    width: 28px;
    height: 28px;
    border: none;
    box-shadow: none;
    background: url('../images/icon-zoom.png') no-repeat right 0;
    position: absolute;
    right: 30px;
    margin-top: 11px;
    top: 0px;
}

.modal-backdrop.in {
    opacity: 0.8;
}

.modal-backdrop {
    background-color: #21202f;
}

.modal .close {
    height: 50px;
    width: 50px;
    position: absolute;
    top: -18px;
    right: -18px;
    background: $primary-color url('../images/close.png') no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    opacity: 1;
    background-size: 18px 18px;
    text-indent: -10000px;
}

.modal-dialog {
    margin-top: 180px;
    width: 750px;
}

.modal-body {
    padding: 30px 65px 50px;
}

.modal-content {
    box-shadow: none !important;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
}

.table-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.booktable .jq-selectbox {
    margin-bottom: 30px;
}

.booktable input[type="text"],
.booktable input[type="email"] {
    margin-bottom: 30px;
}

.booktable .btn-big {
    width: 100%;
    margin-top: 14px;
}

.booktable .jq-selectbox__dropdown {
    top: 55px !important;
}

.book-sm {
    display: none;
}

.cart-wrap:before {
    height: 22px;
    position: absolute;
    left: 0px;
    width: 100%;
    top: -22px;
    content: "";
}

.cart-wrap {
    position: absolute;
    top: 100%;
    right: 0px;
    width: auto;
    padding-top: 25px;
    z-index: 99;
    display: none;
}

.shop-cart:hover .cart-wrap {
    display: block;
}

.shop-cart:hover .cart-blog:before {
    position: absolute;
    border-bottom: 8px dashed #ffffff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    top: 0;
    right: 35%;
    content: "";
    display: inline-block;
    margin-top: -8px;
    margin-left: -8px;
    z-index: 99;
}

.cart-blog {
    background: #ffffff;
    min-width: 380px;
    padding: 40px 25px;
    color: #20202f;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    position: relative;
    z-index: 99;
}

.cart-item {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 35px;
}

.cart-item-left {
    display: table-cell;
    width: 66px;
    vertical-align: middle;
}

.cart-item-right {
    padding-left: 20px;
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}

.cart-blog h6 {
    margin-bottom: 5px;
    font-size: 16px;
    font-family: 'GraviolaSoft-Medium';
    font-weight: normal;
}

.cart-blog span {
    color: #9e9eab;
    font-size: 14px;
    font-family: 'Graviola-Regular';
}

.delete-icon {
    position: absolute;
    right: 0px;
    width: 12px;
    height: 15px;
    background: url('../images/delete.png') no-repeat center center;
    top: 10px;
}

.subtotal {
    display: inline-block;
    width: 100%;
}

.subtotal h6 {
    margin-bottom: 0px;
}

.subtotal span {
    text-align: right;
    float: right;
}

.cart-btn {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.view,
.checkout {
    min-width: inherit;
    padding-left: 35px;
    padding-right: 35px;
}

.view {
    margin-right: 13px;
}

.checkout {
    margin-left: 13px;
}



/* Main part */

.main-part {
    float: left;
    width: 100%;
    position: relative;
}
