/*------------------------------------------------------------------
[Master Stylesheet]

Project: NAZZIS - ORDERONLINE TEST
Version: 1.2
Last change: MAY 10, 2018
Assigned to: Nazzis
Primary use: Kebab Takeway
AUTHOR: Sailendra SHRESTHA
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Typography
3. Header
4. Slider
5. Main Menu
6. Chef
7. Food Hours
8. Client
9. Instagram
10. Footer
11. Map Address
12. Menu Page
13. Gallery Page
14. Blog List With Sidebar
15. Shop Single
16. Shop Cart
17. Shop Checkout
18. Login & Register
19. Contact
20. 404 Page
21. FAQ
22. Terms & Condition
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Color codes]

Background: #ffffff
Content: #7a7676
Header h1 to h6: $secondary-color
Footer: #20202f

a (standard): $primary-color
a (hover): $secondary-color
a (active): $secondary-color
a (focus): $secondary-color
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Typography]

Body copy: 16px/26px Source Sans Pro, Graviola-Regular, QuicksandBook, jey;
Headers: 15px/42px Source Sans Pro, Graviola-Regular, QuicksandBook, jey;
Input, textarea: 14px 14px/42px Source Sans Pro, Graviola-Regular, QuicksandBook, jey;
Sidebar heading: 18px 14px/42px Source Sans Pro, Graviola-Regular, QuicksandBook, jey;
-------------------------------------------------------------------*/


/* cyrillic */

// sass imports starts here
@import'base/index';
@import'layout/index';
@import'components/index';




// base section is moved to base folder.



// header  moved.
















/*------------------------------------------------------------------
[8. Client ]
------------------------------------------------------------------*/

.client .build-title {
    margin-bottom: 12px;
}

.client-say {
    text-align: center;
}

.client-say .item img {
    display: inline-block;
    width: auto;
}

.client-say .item h5 {
    margin-bottom: 10px;
}

.client-say .owl-theme .owl-dots .owl-dot span {
    background: #eae7de;
}

.client-say .owl-theme .owl-dots .owl-dot.active span,
.client-say .owl-theme .owl-dots .owl-dot:hover span {
    background: $primary-color;
    width: 35px;
}

.client-metro .owl-theme .owl-dots .owl-dot.active span,
.client-metro .owl-theme .owl-dots .owl-dot:hover span {
    background: #eae7de;
}

.client-metro .item {
    background: #ffffff;
    padding: 70px 25px 10px 25px;
}

.client-metro .item img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 10px solid #f4f2ed;
    position: absolute;
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.client-metro .owl-carousel .owl-stage-outer {
    padding-top: 50px;
}



/* Feature List */

.feature-list-icon {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}

.feature-icon-table {
    display: table-cell;
    vertical-align: bottom;
    height: 88px;
}

.feature-list h5 {
    margin: 20px 0 10px;
}



/*------------------------------------------------------------------
[9. Instagram ]
------------------------------------------------------------------*/

.gallery-slider {
    float: left;
    width: 100%;
    padding: 0 70px;
}

.gallery-slider a>img {
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
}

.gallery-overlay {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    -webkit-transform: scale(0) rotate(-180deg);
    -moz-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.gallery-overlay-inner {
    position: relative;
    background: url('../images/gradient-bg.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle;
    font-size: 42px;
    color: #ffffff;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
}

.gallery-overlay-inner i {
    display: table-cell;
    vertical-align: middle;
}

.gallery-slider .item:hover .gallery-overlay {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    z-index: 1;
}

.gallery-slider .owl-theme .owl-nav .owl-prev {
    left: -60px;
}

.gallery-slider .owl-theme .owl-nav .owl-next {
    right: -60px;
}
















/* Home Page 3 Style */

.wrapper-spacer-bg {
    background: #20202f;
    padding-left: 0px;
    padding-right: 0px;
}

.wrapper-spacer-bg .header-on .logo>a {
    top: 0px;
}

.wrapper-spacer-bg .header-part.header-on {
    top: 0px;
}

.wrapper-spacer-bg .home-slider {
    padding-left: 70px;
    padding-right: 70px;
}

.wrapper-spacer-bg .home-slider .home-slider-target {
    float: left;
    width: 100%;
    position: relative;
}

.wrapper-spacer-bg h1,
.wrapper-spacer-bg h2,
.wrapper-spacer-bg h3,
.wrapper-spacer-bg h4,
.wrapper-spacer-bg h5,
.wrapper-spacer-bg h6 {
    color: $primary-color;
}

.wrapper-spacer-bg .heade-xs {
    color: #f6f0f2;
}

.wrapper-spacer-bg .table-title .heade-xs {
    color: #9a9a9a;
}

.wrapper-spacer-bg .table-title h2 {
    color: $secondary-color;
}

.wrapper-spacer-bg .modal-body .jq-selectbox__select {
    border-color: #e5e5ee;
}

.wrapper-spacer-bg .jq-selectbox__select {
    border-color: $secondary-color;
}

.wrapper-spacer-bg .jq-selectbox__select-text {
    color: #636375;
}

.wrapper-spacer-bg .table-part.booktable input[type="text"],
.wrapper-spacer-bg .table-part.booktable input[type="password"],
.wrapper-spacer-bg .table-part.booktable input[type="tel"],
.wrapper-spacer-bg .table-part.booktable input[type="email"],
.wrapper-spacer-bg .table-part.booktable input[type="number"] {
    background: transparent;
    color: #636375;
    border-color: $secondary-color;
}

.wrapper-spacer-bg .portfolioFilter-inner,
.wrapper-spacer-bg .portfolioFilter a.current {
    background: none;
}

.wrapper-spacer-bg .portfolioFilter a,
.wrapper-spacer-bg .portfolioFilter-inner {
    border-radius: 0px !important;
}

.wrapper-spacer-bg .portfolioFilter a.current {
    color: $primary-color;
}

.wrapper-spacer-bg .portfolioFilter a {
    color: #f6f0f2;
}

.wrapper-spacer-bg .chef-slote .chef-info {
    background: $secondary-color;
}

.wrapper-spacer-bg .owl-theme .owl-nav .owl-prev {
    background: url("../images/arrow-left.png") no-repeat center center;
}

.wrapper-spacer-bg .owl-theme .owl-nav .owl-next {
    background: url("../images/arrow-right.png") no-repeat center center;
}

.wrapper-spacer-bg .owl-theme .owl-nav .owl-prev:hover {
    background: url("../images/arrow-left-active.png") no-repeat center center;
}

.wrapper-spacer-bg .owl-theme .owl-nav .owl-next:hover {
    background: url("../images/arrow-right-active.png") no-repeat center center;
}

.wrapper-spacer-bg .chef-slote .chef-inner {
    background: #151521;
}

.wrapper-spacer-bg .chef-slote .chef-inner:hover {
    background: $primary-color;
}

.wrapper-spacer-bg .chef-slote .chef-inner:hover .chef-info {
    background: #d2a748;
}

.wrapper-spacer-bg .chef-slote .chef-inner:hover h5 {
    color: #20202f;
}

.wrapper-spacer-bg .build-title h6 {
    color: #f6f0f2;
}

.wrapper-spacer-bg .feature-label .feature-info span {
    color: #f6f0f2;
}

.wrapper-spacer-bg .feature-label .owl-item {
    background: #151521;
}

.wrapper-spacer-bg .feature-info {
    color: #f6f0f2;
}

.wrapper-spacer-bg .feature-label .icon-user {
    background: url("../images/user1.png") no-repeat center center;
}

.wrapper-spacer-bg .feature-label .icon-comment {
    background: url("../images/comment1.png") no-repeat center center;
}

.wrapper-spacer-bg .owl-theme .owl-dots .owl-dot.active span,
.wrapper-spacer-bg .owl-theme .owl-dots .owl-dot:hover span {
    background: $primary-color;
}

.wrapper-spacer-bg .owl-theme .owl-dots .owl-dot span {
    background: $secondary-color;
}

.wrapper-spacer-bg .feature-list h5,
.wrapper-spacer-bg .feature-list {
    color: #f6f0f2;
}

.footer-mix {
    float: left;
    width: 100%;
    padding: 90px 0 0;
    color: #f6f0f2;
    position: relative;
}

.footer-mix:before {
    position: absolute;
    left: 4%;
    width: 92%;
    height: 1px;
    background: $secondary-color;
    content: "";
    top: 40px;
}

.footer-mix a {
    color: #f6f0f2;
}

.footer-mix a:hover {
    color: $primary-color;
}

.footer-mix .social-top {
    float: right;
}

.footer-round-right .social-top li:last-child {
    margin-right: 0px;
}



/* Home Page 4 Style */

.header-part.header-transparent {
    top: 0px;
}

.header-part.header-transparent .logo>a {
    top: -25px;
    left: 0px;
    transform: none !important;
}

.header-part.header-transparent .menu-main {
    float: right;
}

.header-transparent .logo {
    position: relative;
    text-align: left;
}

.header-transparent .header-info {
    width: auto;
    margin-left: 35px;
}

.header-transparent .header-bottom {
    padding: 40px 0;
}

.tp-caption i.text-on-slider {
    font-weight: 400 !important;
}

.booktable-none .jq-selectbox__select {
    border-radius: 0px !important;
}

.booktable-none input[type="text"],
.booktable-none input[type="password"],
.booktable-none input[type="tel"],
.booktable-none input[type="email"],
.booktable-none input[type="number"] {
    border-radius: 0px !important;
}

.dishes-special {
    float: left;
    width: 100%;
    padding: 180px 0;
}

.dishes-special .build-title h6 {
    color: #f6f0f2;
}

.dishes-filter .portfolioFilter-inner {
    background: transparent;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.dishes-filter .portfolioFilter {
    background: rgba(32, 32, 47, 0.85);
}

.dishes-filter .portfolioFilter a {
    border-radius: 0px !important;
    color: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
}

.dishes-filter .portfolioFilter a.current {
    background: transparent;
    color: $primary-color;
}

.dishes-filter .portfolioFilter a.current:before {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    position: absolute;
    bottom: 0px;
    left: 50%;
    content: "";
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dishes-filter .menu-wrapper {
    margin-top: -76px;
}

.feature-extra .feature-blog .feature-img img,
.feature-extra .feature-blog .item,
.feature-extra .feature-blog .owl-item,
.feature-extra .feature-info,
.feature-extra .date-feature {
    border-radius: 0px;
}

.feature-extra .date-feature small {
    margin-top: 0px;
}

.feature-extra .owl-theme .owl-nav .owl-prev {
    background: url(../images/direction-left.png) no-repeat center center;
}

.feature-extra .owl-theme .owl-nav .owl-prev:hover {
    background: url(../images/direction-left-active.png) no-repeat center center;
}

.feature-extra .owl-theme .owl-nav .owl-next {
    background: url(../images/direction-right.png) no-repeat center center;
}

.feature-extra .owl-theme .owl-nav .owl-next:hover {
    background: url(../images/direction-right-active.png) no-repeat center center;
}

.food-extra .food-blog {
    margin-top: 0px;
}

.map-fix {
    padding: 0px;
}

.map-fix img,
.map-fix iframe {
    width: 100% !important;
}

.instagram-trail a>img,
.instagram-trail .gallery-overlay-inner {
    border-radius: 0px !important;
}

.instagram-trail .owl-theme .owl-nav .owl-prev {
    background: url(../images/direction-left.png) no-repeat center center;
}

.instagram-trail .owl-theme .owl-nav .owl-prev:hover {
    background: url(../images/direction-left-active.png) no-repeat center center;
}

.instagram-trail .owl-theme .owl-nav .owl-next {
    background: url(../images/direction-right.png) no-repeat center center;
}

.instagram-trail .owl-theme .owl-nav .owl-next:hover {
    background: url(../images/direction-right-active.png) no-repeat center center;
}

.footer-form {
    float: left;
    width: 100%;
    position: relative;
    color: #f6f0f2;
    font-size: 15px;
    font-family: 'Graviola-Regular';
}

.footer-form a {
    color: #f6f0f2;
}

.footer-form-top {
    float: left;
    width: 100%;
    position: relative;
    padding: 45px 0 28px 0;
}

.footer-form-left {
    float: left;
    width: auto;
}

.footer-form-left h3 {
    color: $primary-color;
}

.footer-form-left p:last-child {
    margin-bottom: 0px;
}

.footer-form-top h3 {
    margin: 0 0 20px 0;
}

.footer-form-top p {
    margin: 0 0 14px 0;
}

.footer-form-top a {
    display: block;
}

.footer-form-middle {
    float: left;
    width: 100%;
    color: #636375;
}

.footer-form-middle .btn-main {
    width: 100%;
    height: 59px;
    line-height: 59px;
    font-size: 18px;
    text-transform: inherit;
}

.footer-form-middle input[type="text"],
.footer-form-middle input[type="email"],
.footer-form-middle input[type="password"],
.footer-form-middle textarea {
    border-radius: 0px !important;
    margin-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.footer-form-middle h3 {
    text-align: center;
}

.footer-form-middle textarea {
    height: 144px;
    padding: 19px 24px;
}

.footer-form-right {
    float: right;
    width: auto;
    text-align: right;
}

.footer-form-right .social-top {
    float: right;
    width: auto;
}

.footer-form-right .social-top li:last-child {
    margin-right: 0px;
}

.footer-form-right .social-top li a {
    color: #5c5c6e;
}

.footer-form-right .social-top li:hover a {
    color: #bdbdd3;
}

.footer-xs {
    float: left;
    width: 100%;
    position: relative;
}

.footer-xs-left {
    float: left;
    width: 30%;
}

.footer-xs-middle {
    float: left;
    width: 40%;
    background: #ffffff;
    padding: 25px 65px 45px 65px;
    margin-top: -200px;
}

.footer-xs-right {
    float: left;
    width: 30%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.footer-form-bottom {
    float: left;
    width: 100%;
    background: #20202f;
    padding: 27px 0;
    text-align: center;
}



/* Home Page 5 Style */

.header-expert .header-bottom {
    border-bottom: none;
    background: none;
    padding: 19px 0;
}

.header-expert .menu-main li a {
    color: $secondary-color;
}

.header-expert .search-part>a {
    background-image: url("../images/icon-zoom-blue.png");
}

.header-expert .search-part.active>a {
    background-image: url("../images/close-blue.png");
}

.header-expert .header-collect a {
    color: $secondary-color;
}

.header-expert .search-box {
    top: 76px;
}

.dishes-expand .slick-prev {
    background: url('../images/arrow-black-left.png') no-repeat center center;
    width: 50px;
    height: 50px;
}

.dishes-expand .slick-prev:hover,
.dishes-expand .slick-prev:focus {
    background: url('../images/arrow-left-active.png') no-repeat center center;
}

.dishes-expand .slick-next {
    background: url('../images/arrow-black-right.png') no-repeat center center;
    width: 50px;
    height: 50px;
}

.dishes-expand .slick-next:hover,
.dishes-expand .slick-next:focus {
    background: url('../images/arrow-right-active.png') no-repeat center center;
}

.menu-return .portfolioFilter-inner {
    box-shadow: none !important;
    background: none !important;
}

.menu-return .portfolioFilter a {
    color: #ffffff;
}

.menu-return .portfolioFilter a span {
    display: block;
    margin-bottom: 5px;
}

.menu-return .portfolioFilter a.current {
    background: transparent;
    color: $primary-color;
}

.footer-inset {
    color: #5e5e75;
    display: inline-block;
    width: 100%;
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 25px;
}

.footer-inset a {
    color: #5e5e75;
}

.footer-inset p a {
    display: block;
}

.footer-inset a:hover {
    color: #bdbdd3;
}

.footer-inset h1,
.footer-inset h2,
.footer-inset h3,
.footer-inset h4,
.footer-inset h5,
.footer-inset h6 {
    color: #ffffff;
}

.footer-inset .social-top li {
    margin-right: 14px;
}

.footer-inset .social-top li:last-child {
    margin-right: 0px;
}

.footer-inset .social-top a {
    font-size: 16px;
}

.footer-action {
    padding-bottom: 0px;
    border-bottom: none;
}

.footer-inset-copyright {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #5e5e75;
    font-size: 13px;
    background: #12121d;
    padding: 22px 0;
}

.equal-inset {
    float: left;
    width: 100%;
}











/*------------------------------------------------------------------
[14. Blog List With Sidebar ]
------------------------------------------------------------------*/

.blog-left-section {
    background-color: #f4f2ed;
    padding: 38px 28px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
}

.blog-left-section h5 {
    color: $secondary-color;
    text-align: left;
}

.blog-left-section .list li {
    color: $primary-color;
    margin-top: 10px;
}

.blog-left-section .list li a {
    color: #7a7676;
    display: block;
    padding-left: 10px;
}

.blog-left-section small {
    color: #7a7676;
    font-size: 14px;
}

.blog-left-section h6 {
    color: #20202f;
    font-size: 16px;
    margin-bottom: 12px;
}

.blog-left-section p {
    margin-bottom: 12px;
}

.blog-common-wide {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.blog-left-search input[type="text"] {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    border: none;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    border-radius: 80px;
    padding: 10px 60px 10px 40px;
    font-size: 16px;
    margin: 0px;
}

.blog-left-search input[type="submit"] {
    font-family: 'FontAwesome';
    background: none;
    border: none;
    font-size: 22px;
    font-weight: 300;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    padding: 0 20px;
}

.recent-blog-list {
    display: inline-block;
    margin-bottom: 22px;
    width: 100%;
}

.blog-recent-post .recent-blog-list:last-child {
    margin-bottom: 0px;
}

.popular-tag {
    text-align: center;
}

.popular-tag a {
    display: inline-block;
    width: auto;
    padding: 0 20px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #7a7676;
    min-width: 88px;
    background: #ffffff;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    margin: 0 5px 15px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    color: #7a7676;
}

.popular-tag a:hover {
    background: #20202f;
    color: #ffffff;
}

.tag-btn {
    display: inline-block;
    width: auto;
    padding: 0 20px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #7a7676;
    min-width: 88px;
    background: #f4f2ed !important;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    margin: 0 9px 15px 0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    color: #7a7676 !important;
}

.tag-btn:hover {
    background: #20202f !important;
    color: #ffffff !important;
}

.tag-btn:last-child {
    margin-right: 0px;
}

.best-deal-blog {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin-bottom: 35px;
}

.best-deal-blog p {
    margin: 0px;
}

.best-deal-left {
    float: left;
    max-width: 111px;
}

.best-deal-right {
    margin-left: 130px;
}

.best-deal-right p {
    color: #20202f;
}

.best-deal-right strong {
    color: $primary-color;
}

.best-deal-blog:last-child {
    margin-bottom: 0px;
}

.blog-right-listing {
    display: inline-block;
    width: 100%;
    margin: 0 0 30px 0;
}

.blog-right-listing .feature-img img {
    width: 100%;
}

.blog-right-listing .feature-info {
    padding-left: 0px;
    padding-right: 0px;
}

.blog-right-listing .feature-info h5 {
    margin: 15px 0;
}

.blog-right-listing .feature-info p {
    margin-bottom: 20px;
}

.blog-right-listing .button-default {
    height: 50px;
    line-height: 47px;
}

.blog-common-wide:last-child {
    margin-bottom: 0px;
}

.blog-main-full .blog-right-listing .feature-info {
    padding-top: 40px;
}

.blog-main-full .date-feature {
    top: inherit;
    bottom: -40px;
    right: 90px;
}

.blog-main-2col .blog-right-listing .feature-info {
    padding-top: 65px;
}

.blog-main-2col .date-feature {
    top: inherit;
    bottom: -40px;
    right: inherit;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: $primary-color;
}

.blog-list-outer .feature-img {
    float: left;
    width: 50%;
    padding-right: 15px;
}

.blog-list-outer .feature-info {
    float: left;
    width: 50%;
    padding-top: 0px;
    padding-left: 15px;
}

.blog-list-outer .date-feature {
    right: inherit;
    left: 20px;
}

.read-arrow {
    background: url('../images/learn-arrow.png') no-repeat right center;
    padding-right: 34px;
}

.blog-single {
    color: #959393;
    font-size: 15px;
}

.blog-single blockquote {
    font-size: 15px;
    font-style: italic;
    border: 2px solid #f4f2ed;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
    padding: 20px 55px 20px 95px;
    position: relative;
}

.blog-single blockquote .quote {
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 90px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: $primary-color;
    font-style: normal;
}

.ul-list {
    margin-left: 25px;
}

.ul-list li {
    padding-left: 25px;
    position: relative;
}

.ul-list li:before {
    content: "•";
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 18px;
    color: $primary-color;
}

.share-tag {
    display: inline-block;
    width: 100%;
    margin: 25px 0;
}

.share-tag h5 {
    font-size: 18px;
    display: inline-block;
    margin-right: 10px !important;
    color: #20202f;
}

.share-tag .social {
    display: inline-block;
    width: auto;
}

.social li {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

.social li:last-child {
    margin-right: 0px;
}

.social li a {
    display: block;
    width: 40px;
    border: 2px solid #f4f2ed;
    height: 40px;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    line-height: 39px;
    color: #959393;
}

.social li:hover a {
    color: #ffffff;
}

.social li.social-facebook:hover a {
    background: #3B5998;
    border-color: #3B5998;
}

.social li.social-tweeter:hover a {
    background: #1DA1F2;
    border-color: #1DA1F2;
}

.social li.social-instagram:hover a {
    background: #FBAD50;
    border-color: #FBAD50;
}

.social li.social-dribble:hover a {
    background: #DD3E7B;
    border-color: #DD3E7B;
}

.social li.social-google:hover a {
    background: #3A7CEC;
    border-color: #3A7CEC;
}

.plain-btn {
    display: inline-block;
    width: auto;
    border: 2px solid #f4f2ed;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 35px;
    font-size: 13px;
    color: #959393 !important;
    text-transform: uppercase;
}

.plain-btn .icon-left-4 {
    margin-right: 22px;
}

.comment-blog {
    display: inline-block;
    width: 100%;
}

.comment-blog h3 {
    font-size: 25px;
    color: #20202f;
}

.comment-inner-list {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.comment-inner-list h5 {
    font-size: 18px;
    color: #20202f;
    margin-bottom: 10px;
    padding-right: 34%;
}

.comment-img {
    float: left;
    max-width: 115px;
}

.comment-info {
    margin-left: 145px;
    position: relative;
}

.comment-date {
    position: absolute;
    font-size: 14px;
    color: $primary-color;
    right: 0px;
    top: -2px;
    width: 32%;
    text-align: right;
}

.comment-blog form {
    margin-top: 36px;
}

.comment-review-tab .comment-blog textarea {
    border: none;
    background-color: #ffffff;
}

.comment-review-tab .comment-blog input[type="text"],
.comment-review-tab .comment-blog input[type="password"],
.comment-review-tab .comment-blog input[type="tel"],
.comment-review-tab .comment-blog input[type="email"],
.comment-review-tab .comment-blog input[type="number"] {
    background-color: #ffffff;
    border: none;
}

.submit-btn {
    height: 50px;
    width: auto;
    background-color: #c66d55;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    border-radius: 80px;
    padding: 0 30px;
    text-align: center;
    min-width: 225px;
    font-size: 16px;
    display: inline-block;
    line-height: 50px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.submit-btn:hover {
    color: #ffffff;
    background: #20202f;
}

.cart-overlay-wrap {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100.1%;
    background: rgba(228, 185, 91, 0.9);
    top: 0px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    -webkit-transform: scale(0) rotate(-180deg);
    -moz-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.shop-main-list:hover .cart-overlay-wrap {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    z-index: 1;
}

.cart-overlay {
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.shop-cart-btn {
    line-height: 40px;
    width: auto;
    min-width: 152px;
    background-color: #372727;
    color: #ffffff;
    height: 40px;
    display: inline-block;
    text-align: center;
    font-family: 'Graviola-Regular';
    text-transform: uppercase;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}

.shop-product {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.shop-product img {
    width: 100%;
}

.shop-main-list h5 {
    font-size: 18px;
    color: #20202f;
    margin: 0 0 10px 0;
}

.shop-main-list h5 strong {
    color: $primary-color;
}

.shop-main-list {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 0 40px 0;
}



/*------------------------------------------------------------------
[15. Shop Single ]
------------------------------------------------------------------*/

.shop-single p {
    margin: 20px 0;
}

.slick-shop img {
    width: 100%;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
}

.slick-shop-thumb {
    padding: 0 30px;
    margin-top: 25px;
}

.slick-shop-thumb img {
    width: 100%;
}

.slick-shop-thumb .slick-slide {
    margin: 0 12px;
}

.slick-shop-thumb .slick-current {
    position: relative;
}

.slick-shop-thumb .slick-current:before {
    position: absolute;
    border: 2px solid $primary-color;
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
}

.star-review-collect {
    display: inline-block;
    width: 100%;
}

.star-rating {
    float: left;
    margin-right: 15px;
    position: relative;
    font-family: 'icomoon';
    font-size: 1em;
    height: 1em;
    line-height: 1em;
    overflow: hidden;
    top: 4px;
    width: 5.4em;
}

.star-rating:before {
    color: #e5e5e5;
    content: "SSSSS";
    float: left;
    left: 0;
    position: absolute;
    top: 0;
}

.star-rating span.star-rating-customer:before {
    color: $primary-color;
    content: "SSSSS";
    left: 0;
    position: absolute;
    top: 0;
}

.star-rating .star-rating-customer {
    float: left;
    left: 0;
    overflow: hidden;
    padding-top: 1.5em;
    position: absolute;
    text-shadow: none;
    top: 0;
}

.star-review span.star-review-customer {
    background: rgba(0, 0, 0, 0) url("../images/star.png") repeat-x scroll left 0;
    display: inline-block;
    height: 16px;
    position: relative;
    width: 80px;
    margin-bottom: -3px;
}

.star-review span.star-review-customer a {
    float: left;
    height: 0;
    left: 0;
    overflow: hidden;
    padding-top: 16px;
    position: absolute;
    top: 0;
    width: 16px;
}

.star-review span.star-review-customer a.star-1 {
    width: 16px;
    z-index: 10;
}

.star-review span.star-review-customer a.star-2 {
    width: 32px;
    z-index: 9;
}

.star-review span.star-review-customer a.star-3 {
    width: 48px;
    z-index: 8;
}

.star-review span.star-review-customer a.star-4 {
    width: 64px;
    z-index: 7;
}

.star-review span.star-review-customer a.star-5 {
    width: 80px;
    z-index: 6;
}

.star-review span.star-review-customer a:hover {
    background: rgba(0, 0, 0, 0) url("../images/star.png") repeat-x scroll left -32px;
}

.comment-blog .star-review span.star-review-customer {
    background: rgba(0, 0, 0, 0) url("../images/star.png") repeat-x scroll left -16px;
    margin-left: 15px;
}

.review-text {
    margin-left: 10px;
    color: $primary-color;
}

.price-textbox {
    display: inline-block;
    width: auto;
    position: relative;
    max-width: 170px;
    text-align: center;
    color: #372727;
}

.price-textbox input {
    text-align: center;
    color: #372727;
    margin: 0px;
}

.price-textbox input::-webkit-input-placeholder {
    text-align: center;
}

.price-textbox input:-moz-placeholder {
    text-align: center;
}

.price-textbox input::-moz-placeholder {
    text-align: center;
}

.price-textbox input:-ms-input-placeholder {
    text-align: center;
}

.fa-shopping-bag {
    margin-right: 15px;
}

.shop-single .social-wrap {
    margin-bottom: 20px;
}

.shop-single .share-tag {
    margin: 35px 0;
}

.shop-single .filter-btn {
    margin-left: 18px;
}

.minus-text {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

.plus-text {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}



/* General Tab Style */

.comment-review-tab {
    margin: 125px 0 0 0;
    background: #f4f2ed;
}

.tab-part {
    float: left;
    width: 100%;
    margin-top: -58px;
}

.tab-inner {
    display: inline-block;
    width: 100%;
}

.tab-part .tab-content {
    padding: 70px 0 60px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.tab-part .nav-tabs {
    text-align: center;
}

.tab-part .nav-tabs>li {
    float: none;
    display: inline-block;
    font-family: 'QuicksandBook-Regular';
    font-size: 18px;
}

.tab-part .nav-tabs>li>a {
    margin-right: 0px;
    padding: 16px 47px;
    border: none;
    color: #20202f;
    -webkit-border-radius: 17px 17px 0 0;
    -moz-border-radius: 17px 17px 0 0;
    -ms-border-radius: 17px 17px 0 0;
    -o-border-radius: 17px 17px 0 0;
    border-radius: 17px 17px 0 0;
}

.tab-part .nav-tabs>li.active>a,
.tab-part .nav-tabs>li.active>a:hover,
.tab-part .nav-tabs>li.active>a:focus {
    border: none;
    color: #20202f;
    background: #f4f2ed;
}

.tab-part .nav>li>a:hover,
.tab-part .nav>li>a:focus {
    background: #f4f2ed;
}

.tab-part .review-text {
    margin-left: 0px;
    margin-right: 10px;
    color: #959393;
}

.tab-part .comment-blog .form p {
    text-align: center;
}

.tab-part .tab-content .title {
    margin-bottom: 30px;
}

.tab-part .tab-content h3 {
    margin-bottom: 0px;
}

.tab-part .comment-blog form {
    margin-top: 0px;
}

.shop-single .slick-slide img {
    margin: 0px;
}

.shop-single .slick-prev {
    left: 0px;
    z-index: 1;
}

.shop-single .slick-next {
    right: 0px;
    z-index: 1;
}

.shop-single .slick-prev,
.shop-single .slick-prev:hover,
.shop-single .slick-prev:focus {
    background: rgba(0, 0, 0, 0) url("../images/slider-arrow-left-black.png") no-repeat scroll center center;
    height: 13px;
    width: 20px;
    background-size: 20px 13px;
}

.shop-single .slick-next,
.shop-single .slick-next:hover,
.shop-single .slick-next:focus {
    background: rgba(0, 0, 0, 0) url("../images/slider-arrow-right-black.png") no-repeat scroll center center;
    height: 13px;
    width: 20px;
    background-size: 20px 13px;
}

.filter-btn {
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    display: inline-block;
    width: auto;
    min-width: 110px;
    height: 50px;
    line-height: 50px;
    background: $primary-color;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    padding: 0 50px;
}

.filter-btn:hover {
    color: #ffffff;
    background: #372727;
}

.related-product {
    padding-bottom: 135px;
}

.related-img {
    float: left;
    width: 100%;
    position: relative;
}

.related-info {
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 20px 0 0 0;
}

.related-info a {
    color: $secondary-color;
}

.related-info h6 {
    margin: 0 0 10px 0;
}

.related-info a strong {
    color: $primary-color;
}

.comment-review-tab .nav-tabs {
    border-bottom: 1px solid #f4f2ed;
}



/*------------------------------------------------------------------
[16. Shop Cart ]
------------------------------------------------------------------*/

.checkout-wrap {
    text-align: center;
    padding: 0 0 115px 0;
}

ul.checkout-bar {
    height: 15px;
}

ul.checkout-bar li {
    color: #333e48;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 20px 14px 80px;
    position: relative;
    font-family: 'QuicksandBook-Regular';
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 19%;
    cursor: pointer;
}

ul.checkout-bar li:before {
    background: #ffffff;
    border: 2px solid #FFF;
    border-radius: 50%;
    line-height: 45px;
    height: 45px;
    position: absolute;
    text-align: center;
    top: -65px;
    width: 45px;
    z-index: 9;
    font-family: 'Quicksand', sans-serif;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

ul.checkout-bar li.active {
    font-family: 'Quicksand', sans-serif;
}

ul.checkout-bar li.done-proceed:before,
ul.checkout-bar li.active:before {
    background: $primary-color;
    z-index: 9;
    color: #ffffff;
    border-color: $primary-color;
}

.checkout-bar li:after {
    -webkit-animation: myanimation 3s 0;
    background-color: #ffffff;
    content: "";
    height: 5px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -45px;
    z-index: 0;
}

.checkout-bar li.done-proceed:after {
    -webkit-animation: myanimation 3s 0;
    background-color: $primary-color;
    content: "";
    height: 5px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -45px;
    z-index: 0;
}

body main .checkout-bar li:last-child:after {
    display: none;
}

ul.checkout-bar li:nth-child(1):before {
    content: "1";
}

ul.checkout-bar li:nth-child(2):before {
    content: "2";
}

ul.checkout-bar li:nth-child(3):before {
    content: "3";
}

ul.checkout-bar li:nth-child(4):before {
    content: "4";
}

ul.checkout-bar li:nth-child(5):before {
    content: "5";
}

ul.checkout-bar li:nth-child(6):before {
    content: "6";
}

.shop-cart-list {
    display: inline-block;
    width: 100%;
    padding: 30px 34px;
    background-color: #ffffff;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
}

table.shop-cart-table {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 18px;
    position: relative;
    width: 100%;
}

table.shop-cart-table th,
table.shop-cart-table td {
    padding: 18px 0;
}

table.shop-cart-table td {
    padding: 26px 0;
}

table.shop-cart-table thead {
    color: #ffffff;
}

table.shop-cart-table th {
    background-color: #372727;
}

table.shop-cart-table thead th:first-child {
    padding-left: 38px;
    border-top-left-radius: 17px;
    -webkit-border-top-left-radius: 17px;
    -moz-border-top-left-radius: 17px;
    -ms-border-top-left-radius: 17px;
    -o-border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    -webkit-border-bottom-left-radius: 17px;
    -moz-border-bottom-left-radius: 17px;
    -ms-border-bottom-left-radius: 17px;
    -o-border-bottom-left-radius: 17px;
}

table.shop-cart-table thead th:last-child {
    padding-right: 38px;
    border-top-right-radius: 17px;
    -webkit-border-top-right-radius: 17px;
    -moz-border-top-right-radius: 17px;
    -ms-border-top-right-radius: 17px;
    -o-border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    -webkit-border-bottom-right-radius: 17px;
    -moz-border-bottom-right-radius: 17px;
    -ms-border-bottom-right-radius: 17px;
    -o-border-bottom-right-radius: 17px;
}

table.shop-cart-table tbody {
    color: #372727;
}

table.shop-cart-table tbody th {
    display: none;
}

.product-cart {
    display: table-cell;
    vertical-align: middle;
    padding-right: 38px;
}

.product-cart-title {
    display: table-cell;
    vertical-align: middle;
}

table.shop-cart-table strong {
    color: #c7a17a;
    display: block;
}

table.shop-cart-table tr td,
table.shop-cart-table tr th {
    border: none;
}

table.shop-cart-table del {
    color: #e1dfda;
    display: block;
    font-family: 'QuicksandBook-Regular';
    font-weight: 400;
}

table.shop-cart-table .shop-cart-close {
    position: absolute;
    right: 0px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 35px;
}

.product-cart-detail {
    display: inline-block;
    width: 100%;
}

.product-cart-detail input {
    margin: 0px;
}

.cupon-part {
    display: inline-block;
    width: auto;
    margin-right: 20px;
}

.cart-total {
    float: right;
    width: 100%;
    padding: 30px 50px;
    background-color: #ffffff;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
    margin-top: 45px;
    max-width: 460px;
    color: #372727;
    font-size: 18px;
}

.cart-total small {
    font-size: 15px;
    float: left;
    color: #959393;
}

.cart-total-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 55px;
    text-align: center;
}

.cart-total h5 {
    margin: 0px;
    font-size: 22px;
}

.product-cart-total {
    display: inline-block;
    width: 100%;
    margin-bottom: 18px;
}

.product-cart-total span,
.grand-total span {
    float: right;
}

.grand-total {
    display: inline-block;
    width: 100%;
    margin: 19px 0 45px;
}

.grand-total h5 span {
    color: #c7a17a;
}

.proceed-check {
    display: inline-block;
    width: 100%;
}

.proceed-check .btn-medium {
    width: 100%;
}

.order-complete-box {
    display: inline-block;
    width: 100%;
    padding: 65px 25px 55px;
    text-align: center;
    background: #ffffff;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
}

.order-complete-box .btn-primary-gold {
    text-transform: inherit;
}

.order-complete-box p {
    margin: 50px 0;
}

.track-oder {
    display: inline-block;
    width: 100%;
    padding: 65px 25px 55px;
    text-align: center;
    background: #ffffff;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
}

.track-oder-inner {
    display: inline-block;
    width: auto;
    text-align: left;
}

.track-oder-inner h3 {
    font-size: 28px;
    line-height: 36px;
    color: #1b1b29;
    margin: 0px;
}

.track-oder-inner h3 span {
    color: #eae7de;
    font-weight: 400;
}

.clock-track-icon {
    display: table-cell;
    vertical-align: middle;
}

.track-status {
    display: table-cell;
    vertical-align: middle;
    padding-left: 65px;
}



/*------------------------------------------------------------------
[17. Shop Checkout ]
------------------------------------------------------------------*/

.shop-checkout-left {
    float: left;
    width: 100%;
    background: #ffffff;
    padding: 35px 30px 10px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
}

.shop-checkout-left h6 {
    font-size: 18px;
}

.shop-checkout-left h6 a {
    font-weight: 700;
    color: #20202f;
}

.form-checkout {
    margin-top: 45px;
}

.form-checkout label {
    color: #959393;
}

.form-checkout label {
    margin-bottom: 29px;
}

.form-checkout h5 {
    color: #20202f;
    font-size: 17px;
    margin-bottom: 29px;
}

.shop-checkout-right {
    float: left;
    width: 100%;
    background: #ffffff;
    padding: 35px 30px 40px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
}

.shop-checkout-right h5 {
    color: #20202f;
    font-size: 22px;
    text-align: center;
    margin: 0 0 50px 0;
}

.shop-checkout-right h6 {
    color: #372727;
    font-weight: 700;
    margin: 0px;
}

.shop-checkout-right h6 span {
    float: right;
}

.shop-checkout-row,
.shop-checkout-title {
    display: inline-block;
    width: 100%;
}

.shop-checkout-row {
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.shop-checkout-title {
    padding-bottom: 30px;
}

.shop-checkout-row p {
    margin: 0px 0 5px 0;
}

.shop-checkout-row p span {
    min-width: 160px;
    display: inline-block;
}

.shop-checkout-right small {
    float: right;
    font-size: 15px;
    color: #959393;
}

.shop-checkout-right a {
    color: #372727;
}

.checkout-total {
    display: inline-block;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}

.shop-checkout-box .checkout-total:last-child {
    border-bottom: none;
}

.shop-checkout-right .price-big {
    font-size: 22px;
    color: $primary-color;
    font-weight: 700;
}

.shop-checkout-box {
    display: inline-block;
    width: 100%;
    margin: 0 0 50px 0;
}

.shop-checkout-box:last-child {
    margin-bottom: 0px;
}

.payment-mode {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.payment-mode label {
    margin-right: 30px;
    vertical-align: middle;
}

.payment-mode img {
    margin-top: -10px;
    margin-right: 15px;
}

.checkout-terms {
    display: inline-block;
    width: 100%;
    margin: 50px 0 30px 0;
}

.checkout-button {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.checkout-button .button-default {
    font-weight: 700;
}

.select-dropbox {
    margin-bottom: 29px;
}



/*------------------------------------------------------------------
[18. Login & Register ]
------------------------------------------------------------------*/

.form-common {
    float: left;
    width: 100%;
    background: #ffffff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    padding: 60px 45px;
}

.form-common h3 {
    margin-bottom: 0px;
}

.register-form .button-default-submit {
    width: 100%;
    background: #c7a17a;
    height: 60px;
    font-size: 22px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin: 10px 0 15px 0;
}

.register-form .button-default-submit:hover {
    background: $primary-color;
}

.register-wrap p {
    margin: 25px 0 0 0;
}

.form-common a {
    color: #20202f;
}

.form-common label {
    font-weight: normal;
}

.login-form .button-default-submit {
    width: 100%;
    background: #20202f;
    border-color: #20202f;
    height: 60px;
    font-size: 22px;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin: 30px 0 30px 0;
}

.login-form .button-default-submit:hover {
    background: $primary-color;
    border-color: $primary-color;
}

.divider-login {
    display: inline-block;
    width: 100%;
    position: relative;
}

.divider-login hr {
    border-top: 1.5px solid #cccccc;
}

.divider-login span {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0 24px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffff;
}

.form-common .btn-change {
    height: 60px;
    width: 100%;
    color: #ffffff;
    padding: 0 20px;
    line-height: 60px;
    margin-top: 15px;
}

.form-common .facebook-btn {
    background: #3b5998;
    border-color: #3b5998;
    color: #ffffff;
}

.form-common .facebook-btn:hover {
    color: #ffffff;
}

.form-common .tweeter-btn {
    background: #1da1f2;
    border-color: #1da1f2;
}

.form-common .tweeter-btn {
    color: #ffffff;
}

.btn-change .fa {
    margin-right: 5px;
}

.login-register .title {
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
}

.contact-map {
    padding: 0px;
}







/*------------------------------------------------------------------
[20. 404 Page ]
------------------------------------------------------------------*/

.error-404 {
    position: fixed;
    left: 0px;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 1;
}

.error-404-inner {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    color: #ffffff;
    line-height: 36px;
    padding: 0 15px;
    margin-top: 5%;
    font-family: 'QuicksandBook-Regular';
}

.error-404-inner h2,
.error-404-inner p {
    margin: 0px;
}

.error-404-inner h2 {
    color: #ffffff;
}

.error-404-inner h2 {
    margin-bottom: 8px;
}

.error-404-inner a {
    color: $primary-color;
    font-family: 'QuicksandBook-Regular';
    text-decoration: underline;
}

.error-404-title {
    display: inline-block;
    width: 100%;
    color: $primary-color;
    font-size: 200px;
    margin-bottom: 40px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}



/*------------------------------------------------------------------
[21. FAQ ]
------------------------------------------------------------------*/

.accordion-part .panel-default {
    border: none;
    box-shadow: none;
}

.accordion-part.panel-group .panel-heading+.panel-collapse>.panel-body,
.accordion-part.panel-group .panel-heading+.panel-collapse>.list-group {
    border: none;
}

.accordion-part .panel-heading {
    padding: 0px;
    background: transparent;
}

.accordion-part .panel-title {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.accordion-part .panel-title a {
    display: block;
    padding: 13px 50px 13px 34px;
    color: #372727;
    border: 2px solid #f4f2ed;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    position: relative;
}

.accordion-part .panel-title a:after {
    content: "\f107";
    position: absolute;
    right: 28px;
    top: 50%;
    font-family: 'FontAwesome';
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.accordion-part .panel-title a[aria-expanded="true"] {
    background: #f4f2ed;
}

.accordion-part .panel-title a[aria-expanded="true"]:after {
    content: "\f106";
}

.accordion-part .panel-body {
    padding: 28px 34px;
}



/* Team Page */

.team-page .chef-blog {
    margin-top: 170px;
}

body main .team-page {
    padding-bottom: 70px;
}

.team-work {
    padding-top: 0px;
    padding-bottom: 180px;
}

.wide-grid-item,
.big-grid-item {
    width: 50%;
    float: left;
    padding: 15px;
}

.small-grid-item {
    width: 25%;
    float: left;
    padding: 15px;
}








/* Team Single */

.team-single-left {
    float: left;
    width: 100%;
    border: 2px solid #f4f2ed;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    text-align: center;
}

.team-single-blog {
    display: inline-block;
    width: auto;
    margin-top: -70px;
}

.team-single-info {
    display: inline-block;
    width: 100%;
    margin: 70px 0;
}

.team-single-right h3 {
    font-size: 30px;
    margin-bottom: 8px;
}

.team-single-right h6 {
    font-weight: 400;
    color: $primary-color;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10px;
}

.team-single-right p {
    margin-bottom: 10px;
}

.team-single-right p a {
    color: #aaaaac;
}

.team-single-right p a:hover {
    color: $primary-color;
}

.team-single-right .social-top {
    margin-top: 18px;
}

.team-single-right .social-top a {
    color: #20202f;
}

.team-single-right .social-top a:hover {
    color: $primary-color;
}

.team-award {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.anna-form-inner {
    display: inline-block;
    width: 100%;
    padding: 0 15%;
    margin-top: 20px;
}

.anna-form-inner input[type="text"],
.anna-form-inner input[type="email"],
.anna-form-inner input[type="password"],
.anna-form-inner input[type="tel"],
.anna-form-inner textarea {
    border-color: #ffffff;
}

.datepicker.dropdown-menu {
    z-index: 9999;
}

.datepicker td,
.datepicker th {
    border: none;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.client.banner-bg.invert.invert-black .icon-black {
    background: url('../images/pattern-black-sketch.png') no-repeat center center;
}
