/*------------------------------------------------------------------
[11. Map Address ]
------------------------------------------------------------------*/

.map-address {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.map-address-inner {
    float: left;
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.map-address-inner img,
.map-address-inner iframe {
    width: 100% !important;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-bottom-left-radius: 20px;
    -ms-border-bottom-left-radius: 20px;
    -o-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
    -ms-border-bottom-right-radius: 20px;
    -o-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.map-top {
    float: left;
    width: 100%;
    background: #20202f;
    padding: 50px 0;
    -webkit-border-top-left-radius: 20px;
    -moz-border-top-left-radius: 20px;
    -ms-border-top-left-radius: 20px;
    -o-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-top-right-radius: 20px;
    -ms-border-top-right-radius: 20px;
    -o-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
}

.map-bottom {
    float: left;
    width: 100%;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-bottom-left-radius: 20px;
    -ms-border-bottom-left-radius: 20px;
    -o-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
    -ms-border-bottom-right-radius: 20px;
    -o-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.address-blog {
    float: left;
    width: auto;
    color: #ffffff;
    padding-right: 10%;
}

.address-blog:last-child {
    padding-right: 0px;
}

.address-blog a {
    color: #ffffff;
}

.address-blog h3 {
    color: $primary-color;
    margin-bottom: 3px;
}
